{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

    <h1>Bienvenu {{ user.username }}</h1>
    <p id="user_email">Email : {{ user.email }}</p>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

