{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

        <form action="{{ path('login') }}" method="post">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="toto">

                <label for="password">Mot de passe</label>
                <input type="text" id="password" name="_password" class="form-control">
            <button type="submit" class="btn btn-primary">Se connecter</button> 
        </form>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
