{% extends 'base.html.twig' %}

{% block title %}Attack Detail{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('attack_detail') }}
{% endblock %}



{% block body %}

    <h1>Attack Detail of {{ id }}</h1>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('attack_detail') }}
{% endblock %}
