{% extends 'base.html.twig' %}

{% block title %}Attack List{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('attack_list') }}
{% endblock %}

{% block body %}

{% dump attacks %}


	<h1>Liste des attaques</h1>

	<table class="table table-hover">
		<thead>
		<tr>
			<div class="alert alert-primary">
				Clique sur l'attaque voulue, ou filtre par types / CT / CS
			</div>
		</tr>
		{# jQuery type / phys-spec / CT / CS selector #}
		<tr>
			<th>Nom attaque</th>
			<th>Type</th>
			<th>Puissance</th>
			<th>Précision</th>
			<th>Description</th>
			<th>PP (Pts de Pouvoir)</th>
		</tr>
		</thead>

		<tbody>
		{# One raw by attack #}
		{% for attack in attacks %}
			<tr>
					<td>
						<a href="{{ path('attack_detail', { 'id': attack.id }) }}">
						{{ attack.name }}
						</a>
					</td>
					<td>
						<button type="button" class="btn btn-{{ attack.type }} btn-xs btn-dark custom-outline">{{ attack.type | upper }}</button>
					</td>
					<td>
						{{ attack.power }}
					</td>
					<td>
						{{ attack.accuracy }}
					</td>
					<td>
						{{ attack.description }}
					</td>
					<td>
						{{ attack.powerPoints }}
					</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('attack_list') }}
{% endblock %}
