{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <h1 id="title">Accueil</h1>

	<div class="alert alert-primary">
		Bienvenue sur le Pokédex Symfony 4 ! Il répertorie les Pokémon de la région de Kanto.
	</div>

	<img id="image" src="{{ asset('build/assets/images/artworks/kanto.png') }}">

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}
