{% extends 'base.html.twig' %}

{% block title %}pokemon Detail{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pokemon_detail') }}
{% endblock %}



{% block body %}


    <h1>#{{ id }} : </h1>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pokemon_detail') }}
{% endblock %}
