{% extends 'base.html.twig' %}

{% block title %}Pokemon Grid{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pokemon_grid') }}
{% endblock %}

{% block body %}

{% dump pokemons %}


	<h1>Grille des Pokémon</h1>

	<div class="alert alert-primary">
		Clique sur le Pokémon voulu pour voir ses informations !
	</div>

	<div class="row no-gutters justify-content-center">

		{% for pokemon in pokemons %}

			<div class="col-1.5">
				<div class="card text-center border-0 card-pokemon">
					<div class="card-body">
						<h5 class="card-title">{{ pokemon.name }}</h5>
						<img src="{{ asset('build/assets/images/sprites/placeholder64.png') }}" alt="Image de {{ pokemon.name }}">
				    <a href="{{ path('pokemon_detail', {'id': pokemon.id}) }}" class="btn btn-outline-primary">Voir les infos</a>
				  </div>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pokemon_grid') }}
{% endblock %}
