{% extends 'base.html.twig' %}

{% block title %}Gérer attaques{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_attack') }}
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Gérer les attaques</h1>

        <div class="create_button">
            <a href="{{ path('admin_attack_create') }}" class="btn btn-primary">Créer une attaque</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom attaque</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for attack in attacks %}
                <tr>
                    <td>{{ attack.name }}</td>
                    <td>
                        <a href="{{ path('admin_attack_edit', {id: attack.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin_attack_delete', {id: attack.id}) }}" style="display: inline-block" onsubmit="return confirm ('Etes-vous sur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attack.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_attack') }}
{% endblock %}
