{% extends 'base.html.twig' %}

{% block title %}Gérer Pokémon{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_pokemon') }}
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Gérer les pokémon</h1>

        {% for message in app.flashes('success') %}
            <div class='alert alert-success'>
                {{ message }}
            </div>
        {% endfor %}

        <div class="create_button">
            <a href="{{ path('admin_pokemon_create') }}" class="btn btn-primary">Créer un pokemon</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <td>{{ pokemon.name }}</td>
                    <td>
                        <a href="{{ path('admin_pokemon_edit', {id: pokemon.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin_pokemon_delete', {id: pokemon.id}) }}" style="display: inline-block" onsubmit="return confirm ('Etes-vous sur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokemon.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                    <td>
                        {% if pokemon.editedAt is defined and pokemon.editedAt is not null %}
                            édité le {{ pokemon.editedAt | date("m/d/y H:i") }}
                        {% elseif pokemon.createdAt is defined and pokemon.createdAt is not null %}
                            créé le {{ pokemon.createdAt | date("m/d/y H:i") }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_pokemon') }}
{% endblock %}
