<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}
		{# 'app' is the first argument to addEntry in webpack.config.js #}
		{{ encore_entry_link_tags('app') }}

		<link rel="stylesheet" href="/build/app.css">

	{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('home') }}">
		<img src="{{ asset('build/assets/images/common/brand.png') }}" width="30" height="30" alt="Pokeball image">
	</a>
	<a class="navbar-brand" href="{{ path('home') }}">
		Pokédex Symfony
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('pokemon_grid') }}">Grille Pokémon</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('attack_list') }}">Liste attaques</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact') }}">Nous contacter</a>
			</li>

            {% if app.user %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Gérer
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_pokemon') }}">Gérer Pokémon</a>
                    <a class="dropdown-item" href="{{ path('admin_attack') }}">Gérer Attaques</a>
				</div>
			</li>
		    {% endif %}

		</ul>

            {% if app.user %}
	        <div class="nav-item dropdown">
				<a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Mon compte
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ path('account') }}">Mon compte</a>
                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
				</div>
			</div>
                {% else %}
                    <a class="nav-link btn btn-outline-primary" href="{{ path('login') }}">Connexion</a>
            {% endif %}
	</div>
</nav>

{% block body %}{% endblock %}

<footer class="card-footer text-muted">
	Pokédex créé en 2019. Symfony 4, Bootstrap 4, Twig, Datatables
</footer>

{% block javascripts %}
	{# bootstrap JS here #}
	{{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
