<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}
		{# 'app' is the first argument to addEntry in webpack.config.js #}
		{{ encore_entry_link_tags('app') }}

		<link rel="stylesheet" href="/build/app.css">

	{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('home') }}">
		<img src="{{ asset('build/assets/images/common/brand.png') }}" width="30" height="30" alt="Pokeball image">
	</a>
	<a class="navbar-brand" href="{{ path('home') }}">
		Pokédex Symfony
	</a>

	{#
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	#}

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('pokemon_grid') }}">Grille Pokémon</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('attack_list') }}">Liste attaques</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('create_resource') }}">Créer ressource</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Mon compte
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Connexion</a>
					<a class="dropdown-item" href="#">Mon compte</a>
					<a class="dropdown-item" href="#">Déconnexion</a>
				</div>
			</li>
		</ul>
		{# Searchbar #}
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
		</form>
	</div>
</nav>

{% block body %}{% endblock %}

<footer class="card-footer text-muted">
	Pokédex créé en 2019. Symfony 4, Bootstrap 4S, Twig
</footer>

{% block javascripts %}
	{# bootstrap JS here #}
	{{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
